<!DOCTYPE html>
<html lang="en">
<head>
  <title>insta485</title>
</head>
<body>
  <header>
    <a href="{{url_for('show_index')}}">insta485</a>
  </header>

  <main>
    <form action="{{url_for('update_accounts')}}?target={{url_for('show_index')}}" method="post" enctype="multipart/form-data">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <p>username</p>
      <input type="text" name="username" required/>
      <p>password</p>
      <input type="password" name="password" required/>
      <input type="submit" value="login"/>
      <input type="hidden" name="operation" value="login"/>
    </form>

    <p>
      Don't have an account?
      <a href="{{url_for('show_create')}}">Sign up</a>
    </p>
  </main>
</body>
</html>