<!DOCTYPE html>
<html lang="en">
<head>
  <title>insta485</title>
</head>
<body>
  <header>
    <a href="/">insta485</a>
  </header>

  <main>
    <img src="/uploads/{{ user.filename }}" alt="{{ user.username }} profile picture">
    <p>{{ user.username }}</p>

    <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input type="file" name="file" accept="image/*"/>
      <input type="text" name="fullname" value="{{ user.fullname }}" required/>
      <input type="text" name="email" value="{{ user.email }}" required/>
      <input type="submit" name="update" value="submit"/>
      <input type="hidden" name="operation" value="edit_account"/>
    </form>

    <p>
      <a href="/accounts/password/">Change password</a>
    </p>

    <p>
      <a href="/accounts/delete/">Delete account</a>
    </p>
  </main>
</body>
</html>