<!DOCTYPE html>
<html lang="en">
<head>
    <title>insta485</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
<header class="HeaderLinks">
    <a href="/">Insta485</a>
    <a href="{{url_for('show_explore')}}">explore</a>
    <a href="{{url_for('show_user', user_url_slug=logged_user.username)}}">{{logged_user.username}}</a>
</header>
<h2><b>Discover People</b></h2>
{% for item in not_following %}
<div class="NotAFriendBox">
    {% for user in users %}
        {% if user.username == item.followee %}
            <img src="{{url_for('show_upload', filename=user.filename)}}" alt="{{item.username}} profile picture">
        {% endif %}
    {% endfor %}
    <a href="{{url_for('show_user', user_url_slug=item.followee)}}">{{item.followee}}</a>
    <form action="{{url_for('show_following', username=item.followee)}}?target={{url_for('show_explore')}}" method="post" enctype="multipart/form-data">
        <input type="submit" name="follow" value="follow"/>
        <input type="hidden" name="username" value="item.followee"/>
        <input type="hidden" name="operation" value="follow"/>
    </form>
</div>
{% endfor %}
</body>
</html>