<!DOCTYPE html>
<html lang="en">
<head>
<title>insta485</title>
</head>
<body>

    <a href="{{url_for('show_index')}}">insta485 </a>
    <a href="{{url_for('show_explore')}}">explore </a>
    <a href="{{url_for('show_user', user_url_slug=logname)}}">{{ logname }}</a>

<hr>

<h2>following</h2>

{% for user in following %}
    <a href="{{url_for('show_user', user_url_slug=user.username)}}">
        <img src="{{url_for('show_upload', filename=user.user_img_url)}}" alt="{{ user.username }} profile picture" width="50">
    </a>
    <a href="{{url_for('show_user', user_url_slug=user.username)}}">{{ user.username }}</a>

    {% if user.username != logname %}
        {% if user.logname_follows_username %}
        <span>following</span>
        <form action="{{ url_for('update_following') }}?target={{ request.path }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="submit" name="unfollow" value="unfollow"/>
            <input type="hidden" name="username" value="{{ user.username }}"/>
            <input type="hidden" name="operation" value="unfollow"/>
        </form>
        {% else %}
        <span>not following</span>
        <form action="{{ url_for('update_following') }}?target={{ request.path }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="submit" name="follow" value="follow"/>
            <input type="hidden" name="username" value="{{ user.username }}"/>
            <input type="hidden" name="operation" value="follow"/>
        </form>
        {% endif %}
    {% endif %}
    <br>
{% endfor %}

</body>
</html>